/* WebRoute.css */
.web-route {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .iframe {
    width: 100%;
    height: 100%;
    border: none; /* Remove iframe border */
    overflow: auto;
    zoom: 90%; 
  }
  