/* second.module.css */

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display : flex ;
  flex-direction: column;
  justify-content: space-around;
}
.heading {
  margin: 0;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}


.elements {

  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;

  height: 100px;
  width: 100%;
  border-radius: 40px;
}
.element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projectlogo{
  width:30%;
}