/* Reset default margin and padding for the whole page */
:root {
  touch-action: pan-x pan-y;
  height: 100% 
}
body, html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling */
}

/* Set the viewport to the device width and initial scale */
@viewport {
  width: device-width;
  zoom: 1.0;
}

/* Style for the mobile screen container */
.main-page {
  width: 100vw;
  height: 100vh;
  background-color: #198d49;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Prevent content overflow */
}



/* Style for project details container */
.project-details {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden; /* Prevent content overflow */
  transform: translateX(100%); /* Off-screen initially */
  transition: transform 0.3s ease-in-out;
}

/* Style for close button */
.close-button {
  margin-top: 20px;
  color: #e74c3c;
  cursor: pointer;
}

/* Style for project content */
.project-content {
  margin: 20px;
  max-width: 80%;
}


.square-div {
  width: 24vh; /* 20% of the viewport width */
  height: 16vh; /* Make it square */
  margin: 2vw;
  background-color: rgba(255, 255, 255, 0.3); /* Transparent white */
  border-radius: 10px; /* Ro15ded corners */
  border: #333; /* Border */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .square-div {
    width: 80px; /* Adjust the button width for small screens */
    height: 80px; /* Make it square */
    margin: 10px;
    border-radius: 50%;
    cursor: pointer; /* Change cursor to indicate clickability */
  }
}

.small-button {
  width: 80px; /* Adjust the button width for small screens */
  height: 80px; /* Make it square */
  margin: 10px;
  cursor: pointer; /* Change cursor to indicate clickability */
  /* Other styles for the button appearance */
}